{% extends 'base.html' %}
{% block content %}
<h1 class="my-0 mb-5 fw-normal">Услуга: {{service_name}}</h1>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    {% if deleted %}
    <script>
        alert('Вы удалили отзыв')
    </script>
    {% endif %}
    {% for el in feedbacks %}
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Оценка: {{el.score}}</h4>
          </div>
          <div class="card-body">
              <h4><small class="text-muted fw-light card-title pricing-card-title">{{el.text|truncatewords:5}}</small></h4>
              <button type="button" class="w-20 btn btn-lg btn-outline-primary">Комментировать</button>
              <a href="/service/feedbacks/delete/{{el.id}}" onclick="return confirm('Вы уверены, что хотите удалить отзыв?')"><button type="button" class="w-20 btn btn-lg btn-outline-primary">Удалить комментарий</button></a>
          </div>
        </div>
      </div>
    {% endfor %}
</div>
{% endblock %}